main.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;

  width: 50%;
  height: 70%;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr;
  overflow-x: scroll;
}
.switch {
  display: flex;
  background-color: grey;
  position: relative;
}
.switch span.label {
  position: absolute;
  width: 50%;
  background-color: green;
}
.switch > span {
  flex: 1;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
div.cover {
  height: 100%;
  background-color: black;
  width: 50%;
  position: absolute;
  left: 50;
  transition: left 200ms cubic-bezier(0.86, 0, 0.07, 1);
}
.login {
  /* flex-grow: 1; */
  background-color: rgb(201, 0, 0);
  transition: all 2s linear;
  width: 100%;
}

.signup {
  /* flex-grow: 0; */
  background-color: rgb(46, 210, 255);

  width: 100%;
  transition: all 2s linear;
}
.mainBox {
  display: flex;
}
