.main {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: calc(100vh - 45px);
  z-index: 9;
  min-width: 100vw;
}
.cart {
  width: 80%;
  height: calc(100% - 4rem);
  overflow-y: scroll;
  /* overflow-x: hidden; */
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.crossButton {
  position: absolute;
  top: 1.4rem;
  right: 9%;
  width: 40px;
  aspect-ratio: 1;

  cursor: pointer;
  background-color: red;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.crossButton span {
  font-size: 4rem;
  position: absolute;
  color: #fff;
}
.cart .cartItem {
  display: flex;
  box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.65);
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-block: 1rem;
  padding: 1em;
}
.cart .cartItem .quantityBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  width: 100%;
  /* background-color: aqua; */
}
.cart .cartItem .quantityBox button {
  font-size: 1.2rem;
  border: 1px solid rgb(84, 81, 81);
}
.cart .cartItem span {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
}

.cart .cartItem .cartContent .btnArea {
  display: grid;
  grid-template-columns: 1fr 40px;
  height: 40px;
  gap: 0.5rem;
}
.cart .cartItem .cartContent .btnArea button:first-child {
  background-color: var(--clr-primary);
  text-align: center;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 300ms ease;
  /* min-width: 10vw; */
}
.cart .cartItem .cartContent .btnArea button:first-child:hover {
  background-color: rgb(0, 3, 4);
}
.cart .cartItem .cartContent .btnArea button:last-child {
  background-color: rgb(235, 56, 28);
  cursor: pointer;

  font-size: 1em;
}
.cart :is(h1, h2, h4) {
  margin: 0;
}
.cart .total {
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}
.cart .total h2 {
  text-align: center;
}
.cart .total button:first-of-type {
  margin: 0 auto;
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: rgb(255, 234, 0);
  color: black;
  border: 2px solid currentColor;
}
.cart .total button:last-of-type {
  background: red;
  margin: 0.5em auto;
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  border: 2px solid currentColor;
}
@media screen and (max-width: 500px) {
  .cartItem {
    width: 90% !important;
  }
  .cart {
    width: 100% !important;
    height: 100%;
  }
  .crossButton {
    right: 1rem;
    top: 0;
  }
  .cart .cartItem .cartContent .btnArea button:first-child {
    min-width: 70vw;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1100px) {
  .cart {
    min-width: 1100px;
  }
  .crossButton {
    right: 5% !important;
  }
}
