main .imageContainer {
  width: 100%;
  height: 80vh;
  position: relative;
  top: -60px;
  z-index: -1;
}

main .imageContainer > div.contentBox {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 60px 20px;
}
main .imageContainer > div.contentBox h1 {
  text-align: center;
}
section.productShowcase {
  width: 100%;
  height: 80%;

  gap: 0.5rem;
  display: flex;
}

section.productShowcase .left {
  flex: 0.5;
  border: 1px solid red;
  min-width: 50%;
}
section.productShowcase .left > .BookListHeading {
  text-align: center;
}
section.productShowcase .right {
  flex: 0.5;
  border: 1px solid blue;
  overflow: hidden;
}
div.right .scrollingContainer {
  overflow-x: hidden;

  height: fit-content;
  width: fit-content;
  display: flex;
}
div.right .scrollingContainer > .scrollableContainer {
  height: 430px;
  margin: auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  /* transform: translateX(calc(-1 * 50vw)); */
  transition: transform 3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
