main .imageContainer {
  width: 100%;
  height: 80vh;
  position: relative;
  top: -60px;
  z-index: -2;
  user-select: none;
}
div.contentBox {
  position: absolute;
  top: 0;
  width: 100vw;
  height: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 60px 20px;
  z-index: 3;
}
div.contentBox h1 {
  text-align: left;
  padding-left: 12px;
  padding-block: 0;
  margin-block: 0;
  color: var(--clr-primary);
  letter-spacing: 1px;
  font-size: 2rem;
  position: relative;
}
div.contentBox h1::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: var(--clr-primary);
  left: 0;
}
section.productShowcase {
  width: 100%;
  height: 80%;

  gap: 0.5rem;
  display: flex;
}

section.productShowcase .left {
  flex: 0.5;
  /* border: 1px solid red; */
  min-width: 50%;
}
section.productShowcase .left > .BookListHeading {
  text-align: center;
}
section.productShowcase .right {
  flex: 0.5;
  overflow: hidden;
}
div.right .scrollingContainer {
  overflow-x: hidden;
  height: fit-content;
  width: fit-content;
  display: flex;
}
div.right .scrollingContainer > .scrollableContainer {
  height: 430px;
  margin: auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  --transition-duration: 1s;
  /* transform: translateX(calc(-1 * 50vw)); */
  transition: transform var(--transition-duration)
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.left {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  position: relative;
}
div.left > h1 {
  font-size: 1rem;
  font-weight: lighter;
  position: relative;
  width: 60%;
}
div.left > h2 > span {
  position: absolute;
  left: 2rem;
  font-size: 1rem;
  /* top: 5px; */
  margin-top: 5px;
}
div.left p.bookDesc {
  text-align: center;
  height: 12rem;
  overflow-y: hidden;
}
div.left p.authName {
  text-align: right;
}
div.left p.authName::before {
  content: "-";
}
@media screen and (max-width: 1138px) {
  div.left > h2 > span {
    position: static;
    display: block;
    text-align: left;
  }
}
div.left .btnArea {
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
}
div.left .btnArea :is(:first-child, :last-child) {
  width: 20%;
  margin: 12px;
  border: none;
  height: 40px;
  transition: background-color 100ms linear;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
}

div.left .btnArea > :first-child {
  background-color: var(--clr-primary);
  width: 120px;
}
div.left .btnArea button {
  margin: 2px 12px;
}

div.left .btnArea > :first-child:hover {
  background-color: var(--clr-primary-light);
}
div.left .btnArea > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: max-content;
  padding: 0 5px;
  font-size: 0.7rem;
  width: 120px;
}
div.left .btnArea > :nth-child(2) img {
  filter: invert(0.91);
}
button i.cartLogo::before {
  background-color: black;
}
