main .imageContainer {
  width: 100%;
  height: 80vh;
  position: relative;
  top: -60px;
  z-index: -9;
  user-select: none;
}
main .imageContainer > div.contentBox {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 60px 20px;
  z-index: 999;
}
main .imageContainer > div.contentBox h1 {
  text-align: center;
  color: var(--clr-primary);
  letter-spacing: 3p x;

  font-size: x-large;
}
section.productShowcase {
  width: 100%;
  height: 80%;

  gap: 0.5rem;
  display: flex;
}

section.productShowcase .left {
  flex: 0.5;
  /* border: 1px solid red; */
  min-width: 50%;
}
section.productShowcase .left > .BookListHeading {
  text-align: center;
}
section.productShowcase .right {
  flex: 0.5;
  /* border: 1px solid blue; */
  overflow: hidden;
}
div.right .scrollingContainer {
  overflow-x: hidden;

  height: fit-content;
  width: fit-content;
  display: flex;
}
div.right .scrollingContainer > .scrollableContainer {
  height: 430px;
  margin: auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  /* transform: translateX(calc(-1 * 50vw)); */
  transition: transform 35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.left {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  position: relative;
}
div.left > h1 {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  width: 60%;
}
div.left > h2 > span {
  position: absolute;
  left: 2rem;
  font-size: 1rem;
  /* top: 5px; */
  margin-top: 5px;
}
div.left p.bookDesc {
  text-align: center;
}
div.left p.authName {
  position: relative;
  /* top: 100px; */
  left: 50%;
}
div.left p.authName::before {
  content: "-";
}
@media screen and (max-width: 1138px) {
  div.left > h2 > span {
    position: static;
    display: block;
    text-align: left;
  }
}
div.left .btnArea :is(:first-child, :last-child) {
  width: 20%;
  margin: 12px;
  border: none;
  height: 40px;
}
/* button. {
    background-color: aliceblue;
  } */
div.left .btnArea :first-child {
  background-color: var(--clr-primary);
  cursor: pointer;
}
div.left .btnArea :first-child:hover {
  background-color: var(--clr-primary-light);
}
