.mainContainer {
  width: 100%;

  height: calc(100vh - 45px);
  display: flex;
  flex-wrap: wrap;
}
.mainContainer .left {
  flex: 0.5;
  background: url("/wave-haikei.svg") no-repeat;
  background-color: var(--clr-primary);
  background-position-x: 290px;
  background-position-y: center;
  background-size: cover;

  display: flex;
  align-items: flex-start;
}
.mainContainer .right {
  flex: 0.5;
  /* background-color: rgb(153, 102, 14); */
  display: flex;
  flex-direction: column;
  padding-block: 5rem;
}
.mainContainer .right > :is(h1, h3, p) {
  text-align: center;
}
.mainContainer .right > h1 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 30px;
  /* line-height: 1; */
}
.mainContainer .right > p {
  text-align: center;
  width: 60vw;

  padding-inline: 1em;
  overflow-y: hidden;
}
.right h3 {
  font-size: 1.3rem;
  color: rgb(68, 0, 255);
}
.mainContainer .right > p {
  height: fit-content;
  /* background-color: red; */
}
.mainContainer .right .sellerInfo {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* background-color: grey; */
  /* top: 3rem; */
  background-color: rgba(194, 128, 255, 0.629);
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.mainContainer .right .sellerInfo > .imgContainer {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
  width: fit-content;
  /* display: none  ; */
  /* position: relative; */
  margin: auto;
}

.mainContainer .right .sellerInfo div {
  text-align: center;
}
.mainContainer .right .sellerInfo div span.infoItem {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
}
.mainContainer .right .sellerInfo button.seemorebtn {
  width: 100px;
  display: none;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btns button:first-child {
  width: max(40%, 200px);
  height: 50px;
  font-size: 1.3rem;
}
.btns button:last-child {
  width: 3rem;
}
.mainContainer .left .imgContainer {
  position: relative;
  height: 500px;
  width: max(50%, 300px);
  margin-inline-start: 5rem;
  margin-block-start: 2rem;
  filter: drop-shadow(-10px 10px 5px #061f0b);
}

@media (max-width: 1000px) {
  .mainContainer .left .imgContainer {
    margin-inline-start: 2rem;
  }
}
@media (max-width: 700px) {
  .mainContainer .right {
    padding-block-start: 0;
  }
  .mainContainer .left {
    background-position-x: -50px;
  }
  .mainContainer .left .imgContainer {
    position: relative;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    /* position: relative; */
  }
  .mainContainer .left {
    /* position: absolute; */
    width: 100%;
    top: 7rem;
    z-index: -1;
    background-color: transparent;
    background-color: rebeccapurple;
  }
  .mainContainer .right {
    align-self: flex-start;
    position: relative;
    left: -100vw;
    top: 90vh;
  }

  .mainContainer .right > p {
    width: 100vw;
  }
  .mainContainer .left .imgContainer {
    margin-inline: auto;
  }
  .mainContainer .left {
    flex: 0.5;
    background: url("/wave-bottom.svg") no-repeat;
    background-color: var(--clr-primary);
    background-position-y: bottom;
  }
  .mainContainer .right > h1 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .mainContainer .right {
    /* left: -80vw; */
  }
}
/* for curvy backgrounds */
@media (max-width: 1600px) {
  .mainContainer .left {
    background-position-x: 200px;
  }
}
@media (max-width: 1450px) {
  .mainContainer .left {
    background-position-x: 150px;
  }
}
@media (max-width: 1350px) {
  .mainContainer .left {
    background-position-x: 100px;
  }
}
@media (max-width: 1300px) {
  .mainContainer .left {
    background-position-x: 50px;
  }
}
@media (max-width: 1150px) {
  .mainContainer .left {
    background-position-x: 0px;
  }
}
@media (max-width: 1000px) {
  .mainContainer .left {
    background-position-x: -90px;
  }
}
