div.logo {
  display: flex;
  align-items: center;
}
div.logo > .menubtn > * {
  transform: scale(1.6);
  margin-top: 6px;
  margin-right: 1rem;
}
span.logo_text {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1rem;
  color: white;
}
nav.navBarMain,
.menu > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  position: relative;
  z-index: 99;
}
nav.navBarMain {
  justify-content: space-between;
  margin-inline: 2rem;
  /* background-color: #000; */
}
.menu > ul {
  gap: 2rem;
  flex: 2;
}
.menu .cart {
  flex: 1;
}
.menu > ul li {
  list-style: none;
  color: white;
}
.menu > ul li Link {
  color: white;
  font-family: sans-serif;
}
div.cart > * {
  fill: red;
}
