div.logo {
  display: flex;
  align-items: center;
}
div.logo > .menubtn {
  transform: scale(1.6);
  display: none;
  margin-top: 6px;
  margin-right: 1rem;
}
span.logo_text {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1rem;
  color: white;
}

nav.navBarMain,
.menu > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 99;
}
nav.navBarMain {
  background-color: rgba(0, 0, 0, 0.88);
  justify-content: space-between;
  padding-inline: 2rem;
  height: 45px;
  position: fixed;
  width: 100%;
}
.menu > ul {
  gap: 2rem;
  flex: 2;
}
.menu .cart {
  flex: 1;
}
.menu > ul li {
  list-style: none;
  transition: color 50ms linear;
  position: relative;
  margin-left: 50px;
}
.menu > ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  animation: hover 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  z-index: 1;
  background-color: var(--clr-primary-light);

  border-radius: 0.5px;
}
@keyframes hover {
  to {
    width: 100%;
  }
}
.menu > ul li a {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 400;
}
.menu > ul li a:hover {
  color: var(--clr-primary-light);
}
div.cart {
  min-width: max-content;
}
div.cart > * {
  fill: red;
}
@media (max-width: 800px) {
  .menu > .menu_items {
    gap: 0rem;
    padding: 0;

    width: min-content;
  }
}
@media (max-width: 600px) {
  div.logo {
    position: fixed;
    z-index: 3;
    margin-top: 12px;
    top: 0;
  }
  .menu > .menu_items {
    position: fixed;
    padding: 50px 30px;
    left: var(--translateOffset);
    top: -12px;
    height: 100vh;
    width: 80%;
    flex-direction: column;
    z-index: 2;
    transition: all 200ms ease-in-out 50ms;
    align-items: flex-start;
    background-color: rgb(0, 0, 0.6);
    gap: 2rem;
    border-radius: 12px;
  }
  div.logo > .menubtn {
    display: block;
  }

  nav.navBarMain {
    padding-right: 1rem;
  }
}

.sellbtn {
  margin-right: 1rem;
}
/* Hellow world */
.navBarMain .accountName {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
  background-color: red !important;
}
