div.AllItems {
  padding: 20px;
  width: 100%;
  place-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 1.5rem;
}
div.AllItems .item {
  width: 12rem;
  height: 230x;
  transition: box-shadow 100ms linear;
  padding-block-end: 1rem;
  box-sizing: content-box;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid rgb(156, 15, 188);
}
div.AllItems .item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
div.AllItems .item > p.BookName {
  margin: 0;
  text-align: center;
  font-weight: 400;
}
div.AllItems .item > p.price {
  margin: 0;
  text-align: center;
  font-weight: 600;
}
div.AllItems svg {
  /* display: inline-block; */
  color: var(--clr-primary);
  cursor: pointer;
}
div.AllItems svg:hover {
  color: var(--clr-primary-light);
}
div.AllItems .item .buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div.AllItems .item button {
  background-color: var(--clr-primary);
  color: rgb(243, 243, 243);
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 1rem;
  width: 65%;
  cursor: pointer;
}
div.AllItems .item button:hover {
  background-color: var(--clr-primary-light);
}
