div.AllItems {
  padding: 20px;
  width: 100%;

  display: grid;
}
div.AllItems .item {
  width: 200px;
  height: 350px;
  /* background-color: red; */
}
div.AllItems .item > p.BookName {
  margin: 0;
  text-align: center;
  font-weight: 400;
}
div.AllItems .item > p.price {
  margin: 0;
  text-align: center;
  font-weight: 600;
}
div.AllItems path.cartIcon {
  color: red;
}
