div.AllItems {
  padding: 20px;
  width: 100%;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 15rem));
  gap: 1.5rem;

  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  min-height: 100vh;
  overflow-x: hidden;
}
div.AllItems .item {
  cursor: pointer;
  width: clamp(15rem, fit-content, 20rem);
  min-height: fit-content;

  transition: box-shadow 100ms linear;
  padding-block: 0.5rem 1rem;
  box-sizing: content-box;
  border-radius: 0.125rem;

  border: 1px solid rgb(156, 15, 188);
  background-color: white;
}
div.AllItems .item .imageContainer {
  width: 90%;
  margin: auto;
  height: 270px;
  position: relative;
}
div.AllItems .item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  /* transform: scale(1.05); */
  transition: transform 200ms linear;
}
div.AllItems .item > p.BookName {
  margin: 0;
  text-align: center;
  font-weight: 400;
}
div.AllItems .item > p.price {
  margin: 0;
  text-align: center;
  font-weight: 600;
}
div.AllItems svg {
  color: var(--clr-primary);
  cursor: pointer;
}
div.AllItems svg:hover {
  color: var(--clr-primary-light);
}
div.AllItems .item .buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div.AllItems .item button {
  background-color: var(--clr-primary);
  color: rgb(243, 243, 243);
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 1rem;
  width: 65%;
  cursor: pointer;
}
div.AllItems .item button:hover {
  background-color: var(--clr-primary-light);
}
div.confirmOrderContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}
